#!/usr/bin/env bash

#function fs() {
#	if du -b /dev/null > /dev/null 2>&1; then
#		local arg=-sbh;
#	else
#		local arg=-sh;
#	fi
#	if [[ -n "$@" ]]; then
#		du $arg -- "$@";
#	else
#		du $arg .[^.]* ./*;
#	f;
#}



function linuxls(){
# List all files colorized in long format
alias l="ls -lF ${colorflag}"

# List all files colorized in long format, excluding . and ..
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd="ls -lF ${colorflag} | grep --color=never '^d'"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always use color output for `ls`
alias ls="command ls ${colorflag}"

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
}



##################################################
#MAC FUNCTIONS
##################################################

function appstart(){
open -a $1
}

function appstop(){
killall $1
}

function simloop(){
    for i in $1;
    do $2 $1;
    done


}
#quick awk
qawk(){
    awk '{print $1}'
}

###############
# Git Functoins
###############

git-picker(){
    # 1= the branch to chechkout
    # 2 = the folder to pull into the branch
    git checkout $1 -- $2
}
updatectx(){
for cluster in "$(tkg get clusters | grep -v STATUS)"; do  echo "$cluster" | awk '{ print "tkg get credentials "$1" -n "$2}' | sh ; done
}


rmns(){
    # where does kubectl proxy go?
    kubectl proxy &
    for i in `k get ns  | grep Terminating| awk '{print $1}'`;
    do
        NAMESPACE=$i;
        # add new line to echo
        echo
        echo "\nDeleting $NAMESPACE";
        kubectl get ns $NAMESPACE -o json | jq '.spec = {"finalizers":[]}'| jq '.metadata.finalizers = []' > temp.json;
        curl -k -H "Content-Type: application/json" -X PUT --data-binary @temp.json 127.0.0.1:8001/api/v1/namespaces/$NAMESPACE/finalize

    done
    echo
    echo 'reattaching kubectl proxy'
    fg
}

